<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="REMAS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <REMAS.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>192.168.117.18</value>
            </setting>
            <setting name="PwdDB" serializeAs="String">
                <value>Belden99</value>
            </setting>
        </REMAS.Properties.Settings>
    </userSettings>
</configuration>
